{% extends 'base.html' %}


{% block content %}

<main role="main">

    <div>
        <section class="jumbotron text-center" style="background-color: #EFCC00;">
            <div class="container">
              <h1 class="jumbotron-heading" style="font-size:72px;" >Anney's Gallery</h1>
              <p class="lead text-muted">Where every picture tells a story</p>
              <p>
                <a href="{% url 'nature'%}" class="btn btn-success my-2">Entertainment</a>
                {% comment %} <a href="{% url 'entertainment'%}" class="btn btn-warning my-2">Sports</a> {% endcomment %}
                <a href="{% url 'technology'%}" class="btn btn-success my-2">Technology</a>
                <a href="{% url 'sports'%}" class="btn btn-success my-2">Nature</a>
                <a href="{% url 'gallery' %}" class="btn btn-success my-2">All Photos</a>
              </p>
            </div>
          </section>
    </div>
  
    {% include 'gallery/show_album.html' %}

        </div>
      </div>
    </div>


  </main>



  {% endblock %}