{% extends 'base.html' %}


{% block content %}

<main role="main">

    <div>
        <section class="jumbotron text-center" style="background-color: pink;">
            <div class="container">
              <h1 class="jumbotron-heading" style="font-size:72px;" >Anney's Gallery</h1>
              <p class="lead text-muted">This is a collection of some of my photos.</p>
              <p>
                <a href="{% url 'travels'%}" class="btn btn-primary my-2">Travels</a>
                <a href="{% url 'birds'%}" class="btn btn-primary my-2">Birds</a>
                <a href="{% url 'anime_characters'%}" class="btn btn-primary my-2">Anime characters</a>
              </p>
            </div>
          </section>
    </div>
  
    {% include 'gallery/gallery.html' %}

        </div>
      </div>
    </div>


  </main>



  {% endblock %}